@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    background-color: #ADD4D0;
    margin: 0;
    font-family: 'Averia Libre', cursive;
}

input {
    font-family: 'Averia Libre', cursive;
    font-style: normal;
    font-weight: 400;
}

a {
    margin: 0;
}

header img {
    margin-left: 18px;
}

header {
    background-color: #C1E7E3;

    width: 100%;
    height: 87px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-right: 18px;
}