#bg-pop {
    /* background-color: #236086;
    opacity: 0.2; */
}

#pop-up {
    background-color: #ffff;
    text-align: center;
    padding: 20px;
    width: 40vw;
    height: 30vh;

    display: none;
    position: absolute;
    top: 45vh;
    left: 50vh;
    /* visibility: visible; */
}

#pop-up p {
    margin: 0;
    color: #FF8383;
    font-size: 30px;
    line-height: 36px;
    margin-top: 35px;
    margin-bottom: 55px;
}

#pop-up a {
    text-decoration: none;
    color: #ffff;
    font-size: 36px;
    padding: 10px 20px;
}

#pop-up .btn-yes {
    background-color: #FF8383;
    margin-right: 50px;
}

#pop-up .btn-cancel {
    background-color: #3F92C5;
}

form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 44px;
}

form #delete-btn {
    position: absolute;
    right: 22px;
    width: 100px;
    padding: 10px 28px 10px 20px;

    background-color: #FD7979;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    display: flex;
    justify-content: space-between;
    /* background-image: url(/img/icons/trash-icon.svg); */
}

form #delete-btn img {
    margin-right: 8px;
}

.form-label {
    width: 374px;
    text-align: right;
    display: inline-block;

    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #fff;

    margin-right: 24px;
}

.input-default {
    width: 300px;
    height: 48px;
    border: none;
    color: #3F92C5;
    font-size: 36px;
    outline: none;
}

.align {
    margin-bottom: 32px;
}

input[type="date"] {
    background-image: url(/img/icons/date-icon.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    padding-left: 14px;
}

::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    margin-right: 10px;
}

input[type="radio"]:checked {
    background-color: #419ED7;
    color: wheat;
}

.label-radio {
    color: #ffff;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

input[type="file"] {
    display: none;
}

.file {
    display: flex;
}

.file-label {
    background-color: #419ED7;
    color: #fff;

    width: 300px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    margin-left: 0.5%;
}

.btn-register {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background-color: #49B976;
    border: 1px solid #37BD6D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px 20px;

    margin-top: 80px;
    align-self: center;
}