@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    margin: 0;
    font-family: 'Averia Libre', cursive;
}

form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    color: #fff;
    font-size: 36px;
    margin-right: 16px;
}

input {
    width: 586px;
    height: 51px;
    margin-top: 30px;
    border: none;
    color: #3F92C5;
    font-size: 36px;
    outline: none;
}

a {
    color: #419ED7;
    font-size: 24px;
}

a:hover {
    color: #3F92C5;
}

#btn-login {
    text-decoration: none;
    padding: 12px 24px;
    background-color: #49B976;
    color: #fff;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 144px;
    border: 1px solid #37BD6D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#btn-login:hover {
    background-color: #fff;
    color: #49B976;
    border: none;
}